* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  background: color(a98-rgb 0.17 0.18 0.24);
}

main {
  background: color(a98-rgb 0.17 0.18 0.24);
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

main {
  width: 100%;
}

@media only screen and (min-width: 1360px) {
  main {
      max-width: 1280px;
      margin: 0 auto;
      padding: 24px;
  }
}

.container-fluid {
  max-width: 1400px;
  position: relative;
}

.card {
  background: color(a98-rgb 0.17 0.18 0.24);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  border: 0;
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.fa-question-circle::before {
  content: "\f059";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: darkgray;
  font-size: 18px;
}

.fa-heart-o::before {
  content: "\f08a";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: crimson;
  font-size: 18px;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px);
}

.card h5 {
  overflow: hidden;
  height: 55px;
  font-weight: 300;
  font-size: 1rem;
}

.card h5 a {
  color: black;
  text-decoration: none;
}

.card-img-top {
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  object-fit: contain;
  padding: 30px;
}

.card h2 {
  font-size: 1rem;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.btn-check:focus+.btn-warning,
.btn-warning:focus {
  color: color(a98-rgb 0.17 0.18 0.24) !important;
  background-color: #ffca2c;
  border-color: #ffc720;
  box-shadow: 0 0 0 .25rem rgba(217, 164, 6, .5);
}

.topper,
.top-right {
  position: absolute;
  padding: 5px 10px;
  font-size: .7rem;
  border-radius: 3px;
  text-transform: uppercase;
}

.topper {
  color: color(a98-rgb 0.17 0.18 0.24);
  top: 8px;
  right: 8px;
  background: #a76053ff;
}

.top-right {
  top: 24px;
  left: 24px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-weight: 900;
  background: #8bc34a;
  line-height: 90px;
  text-align: center;
  color: white;
}

.aff-link,
.bold-btn {
  font-weight: 500;
}

.over-bg {
  background: rgba(53, 53, 53, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  border-radius: 10px;
}

.badge {
  background-color: #f9e992ff !important;
  color: black !important;
}

.box .btn {
  font-size: 1.5rem;
}

@media (max-width: 1025px) {
  .btn {
      padding: 5px 40px;
  }
}
.btn-warning{
  background-color: #f9e992ff !important;
  border-color: #f9e992ff !important;
}
.button-86::before{
  background-color: #f9e992ff;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled){
  color: black !important;
}